@import "reset.css";
@import "mixin";

body {
  font-weight: 200;
  font-family: "PingFang SC", Helvetica, '黑体', Arial, sans-serif;
}

@media (min-device-pixel-ratio: 1.5) {
  .border-1px {
    &::after {
      transform: scaleY(.7);
    }
  }
}

@media (min-device-pixel-ratio: 2) {
  .border-1px {
    &::after {
      transform: scaleY(.5);
    }
  }
}

// 激活的router标签
.router-link-exact-active {
  color: rgb(240, 20, 20);
}

// 默认过渡效果
.fade-enter-active, .fade-leave-active {
  transition: opacity .1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
