@import "mixin";

body {
  font-size: 12px;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Helvetica, '微软雅黑', '黑体', Arial, sans-serif;
}

@media (min-device-pixel-ratio: 1.5) {
  .border-1px {
    &::after {
      transform: scaleY(.7);
    }
  }
}

@media (min-device-pixel-ratio: 2) {
  .border-1px {
    &::after {
      transform: scaleY(.5);
    }
  }
}

// 激活的router标签
.router-link-exact-active {
  color: rgb(240, 20, 20);
}

// 默认过渡效果 - fade
.fade-enter-active, .fade-leave-active {
  transition: all .2s;
  transform: translate3d(0, 0, 0);
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// 默认过渡效果 - move
.move-enter, .move-leave-to {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.move-enter-to, .move-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

